// Vendor
// ---------------------------------

// @import "vendor/normalize";

// GLOBAL

// BREAKPOINTS VARIABLES
$s-width: 700px;
$m-width: 1020px;
$l-width: 1340px;
$xs-width-only: 699px;

.container {
  min-width: 300px;
  width: 100%;
  margin: 15px auto;
  padding: 0 7px;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  word-wrap: break-word;
  color: #6c5f4a;

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
  }

  @media (min-width: $s-width) {
    width: 610px;
    padding: 0;
  }

  @media (min-width: $m-width) {
    width: 930px;
    font-size: 18px;
    line-height: 30px;
  }

  @media (min-width: $l-width) {
    width: 1250px;
  }
}

.container-inner {
  margin: 0 auto;
  padding: 0 16px 0 14px;

  @media (min-width: $s-width) {
    padding: 0 20px;
  }

  @media (min-width: $m-width) {
    padding: 0 40px;
  }

  @media (min-width: $l-width) {
    padding: 0 60px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

// BLOCKS

.main-header {
  display: flex;
  justify-content: center;

  @media (min-width: $m-width) {
    justify-content: flex-start;
  }
}

.main-header__logo {
  @media (min-width: $m-width) {
    margin-left: 20px;
  }

  @media (min-width: $l-width) {
    margin-left: 0;
  }
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 167px;
  height: 64.42px;
  background-color: #0a398a;

  img {
    display: block;
    width: 153.24px;
    height: 19.15px;
    object-fit: fill;
  }

  @media (min-width: $m-width) {
    width: 267px;
    height: 103px;

    img {
      width: 245px;
      height: 30.62px;
    }
  }
}

.title-l {
  margin: 0;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;

  @media (min-width: $s-width) {
    font-size: 36px;
    line-height: 40px;
  }

  @media (min-width: $s-width) {
    font-size: 72px;
    line-height: 80px;
  }
}

.hero {
  position: relative;
  min-height: 352px;
  background: #8a7c60;

  @media (min-width: $s-width) {
    min-height: 314px;
  }

  @media (min-width: $m-width) {
    min-height: 599px;
  }

  @media (min-width: $l-width) {
    &::before {
      content: "";
      position: absolute;
      z-index: 1;
      right: 0;
      bottom: -97.7px;
      width: 363px;
      height: 368px;
      background-image: url("../../__spritemap#sprite-pattern-1-view");
    }
  }
}

.hero__header {
  position: relative;
  z-index: 1;
}

.hero__content {
  position: relative;
  z-index: 1;
  padding: 54.58px 0;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;

  @media (min-width: $m-width) {
    text-align: left;
    font-size: 26px;
    line-height: 36px;
  }

  @media (min-width: $l-width) {
    padding-top: 116px;
  }
}

.hero__title {
  margin-bottom: 20px;

  @media (min-width: $m-width) {
    margin-bottom: 28px;
  }

  @media (min-width: $l-width) {
    margin-bottom: 15px;
  }
}

.hero__description {
  @media (min-width: $s-width) {
    width: 322px;
    margin: 0 auto;
  }

  @media (min-width: $m-width) {
    width: 550px;
    margin: 0;
  }
}

.hero__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 352px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(0deg, rgba(138, 123, 96, 0.67), rgba(138, 123, 96, 0.67));
  }

  img {
    display: block;
    width: 100%;
    height: 352px;
    object-fit: cover;
  }

  @media (min-width: $s-width) {
    height: 314px;

    img {
      width: 610px;
      height: 314px;
      object-fit: contain;
    }
  }

  @media (min-width: $m-width) {
    height: 599px;

    img {
      width: 930px;
      height: 599px;
    }
  }

  @media (min-width: $l-width) {
    img {
      width: 1250px;
      height: 599px;
    }
  }
}

.text-content {
  p {
    margin: 10px 0;

    @media (min-width: $m-width) {
      margin: 16px 0;
    }
  }
}

.about {
  padding: 50px 0;

  @media (min-width: $s-width) {
    padding: 60px 0;
  }

  @media (min-width: $m-width) {
    padding: 80px 0 46px;
  }

  @media (min-width: $l-width) {
    padding: 100px 0;
  }
}

.about__container {
  @media (min-width: $m-width) {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    gap: 26px;
  }

  @media (min-width: $l-width) {
    gap: 40px;
  }
}

.about__experience {
  margin-bottom: 28px;

  img,
  svg {
    object-fit: cover;
  }

  @media (min-width: $s-width) {
    img,
    svg {
      height: 49.54px;
    }
  }

  @media (min-width: $m-width) {
    margin-bottom: 32px;

    img,
    svg {
      width: 186px;
      height: 107.54px;
    }
  }
}

.about__text-content {
  margin-bottom: 28px;

  @media (min-width: $s-width) {
    margin-bottom: 32px;
  }

  @media (min-width: $m-width) {
    width: 417px;
  }

  @media (min-width: $l-width) {
    width: 545px;
  }
}

.about__player {
  @media (min-width: $s-width) {
    margin-left: 29.12px;
  }

  @media (min-width: $m-width) {
    margin-left: 0;
    margin-top: 33px;
    width: 405.12px;
  }

  @media (min-width: $l-width) {
    margin-top: 0;
    width: 545px;
  }
}

.player {
  position: relative;
  width: 100%;
  padding-top: 20px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -14px;

    height: calc(100% - 10px);
    width: calc(100% - 10px);
    background-color: #f7eee5;
  }

  @media (min-width: $s-width) {
    padding-top: 41.65px;

    &::before {
      left: -29.12px;
      height: 382.07px;
      width: 520px;
    }
  }

  @media (min-width: $m-width) {
    padding-top: 27.09px;

    &::before {
      left: -41px;
      width: 405px;
      height: 272px;
    }
  }

  @media (min-width: $m-width) {
    padding-top: 37px;

    &::before {
      left: -35px;
      width: 545px;
      height: 367px;
    }
  }
}

.player__placeholder {
  position: relative;

  img {
    display: block;
    min-width: 260px;
    min-height: 174.09px;
    width: 100%;
  }

  @media (min-width: $s-width) {
    img {
      width: 540px;
      height: 361.35px;
    }
  }

  @media (min-width: $m-width) {
    width: 405.12px;
    height: 271.32px;

    img {
      width: 405.12px;
      height: 271.32px;
    }
  }

  @media (min-width: $l-width) {
    width: 545px;
    height: 364.93px;

    img {
      width: 545px;
      height: 364.93px;
    }
  }
}

.player__button {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 32.03px;
  min-height: 21.1px;
  width: 12.31%;
  height: auto;
  margin-top: 20px;
  aspect-ratio: 32.03 / 21.1;
  color: #080809;
  transform: translate(-50%, -50%);

  &:hover,
  &:focus-visible {
    color: #c4302b;
  }

  &:active {
    opacity: 0.7;
  }

  svg,
  img {
    width: 100%;
    height: 100%;
  }

  @media (min-width: $s-width) {
    width: 66.62px;
    height: 43.61px;
    margin-top: 41.65px;
  }

  @media (min-width: $m-width) {
    width: 49.91px;
    height: 32.87px;
    margin-top: 27.09px;
  }

  @media (min-width: $l-width) {
    width: 67.14px;
    height: 44.22px;
    margin-top: 37px;
  }
}

.player__video {
  position: relative;
  border: 0;
  width: 100%;
  height: 100%;
  aspect-ratio: 260 / 174.09;
  object-fit: cover;
  background-color: #000000;

  @media (min-width: $s-width) {
    width: 540px;
    height: 361.35px;
  }

  @media (min-width: $m-width) {
    width: 405.12px;
    height: 271.32px;
  }

  @media (min-width: $l-width) {
    width: 545px;
    height: 364.93px;
  }
}

.mission {
  color: #ffffff;
  background-color: #f7eee5;

  @media (min-width: $m-width) {
    padding-top: 18px;
  }

  @media (min-width: $l-width) {
    padding-top: 0;
  }
}

.mission__top {
  position: relative;
  padding: 32px 0 32px 29px;
  font-size: 16px;
  background-color: #0a3b93;
  background-image: url("../../__spritemap#sprite-pattern-2-view");
  background-repeat: no-repeat;
  background-size: 179px 132px;
  background-position: bottom -66px right -55px;

  &::before {
    content: "";
    position: absolute;
    left: 14px;
    top: 34px;
    width: 22px;
    height: 28px;
    background-image: url("../../__spritemap#sprite-quotes-view");
  }

  p {
    margin: 0;
  }

  @media (min-width: $s-width) {
    padding: 32px 49px;
    background-position: bottom -35px right -2px;

    &::before {
      left: 30px;
    }
  }

  @media (min-width: $m-width) {
    padding: 94px 84px;
    font-size: 24px;
    line-height: 32px;
    background-size: 436.68px 322.69px;
    background-position: bottom -146.69px right -285.68px;

    &::before {
      left: 40px;
      top: 96px;
      width: 47px;
      height: 60px;
    }
  }

  @media (min-width: $l-width) {
    background-position: bottom -149.69px right -5.68px;

    &::before {
      left: 60px;
    }

    p {
      width: 676px;
    }
  }
}

.mission__bottom {
  position: relative;
  padding: 27px 0 60px;
  background-color: #8a7b60;
  background-image:
    image-set(
      url("../img/mission-bg-xs@1x.webp") type("image/webp") 1x,
      url("../img/mission-bg-xs@2x.webp") type("image/webp") 2x,
      url("../img/mission-bg-xs@1x.png") type("image/jpeg") 1x,
      url("../img/mission-bg-xs@2x.png") type("image/jpeg") 2x
    );
  background-size: cover;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(0deg, rgba(138, 123, 96, 0.42), rgba(138, 123, 96, 0.42));
  }

  @media (min-width: $s-width) {
    padding: 55px;
    background-image:
      image-set(
        url("../img/mission-bg-s@1x.webp") type("image/webp") 1x,
        url("../img/mission-bg-s@2x.webp") type("image/webp") 2x,
        url("../img/mission-bg-s@1x.png") type("image/jpeg") 1x,
        url("../img/mission-bg-s@2x.png") type("image/jpeg") 2x
      );
  }

  @media (min-width: $m-width) {
    padding: 84px 0 101px;
    background-image:
      image-set(
        url("../img/mission-bg-m@1x.webp") type("image/webp") 1x,
        url("../img/mission-bg-m@2x.webp") type("image/webp") 2x,
        url("../img/mission-bg-m@1x.png") type("image/jpeg") 1x,
        url("../img/mission-bg-m@2x.png") type("image/jpeg") 2x
      );
  }

  @media (min-width: $l-width) {
    padding-top: 80px;
    background-image:
      image-set(
        url("../img/mission-bg-l@1x.webp") type("image/webp") 1x,
        url("../img/mission-bg-l@2x.webp") type("image/webp") 2x,
        url("../img/mission-bg-l@1x.png") type("image/jpeg") 1x,
        url("../img/mission-bg-l@2x.png") type("image/jpeg") 2x
      );
  }
}

.mission__text-content {
  position: relative;
}

.mission__title {
  position: relative;
  max-width: 184px;
  margin: 0 auto 4px;
  font-weight: 400;
  font-size: 18px;
  line-height: 46px;
  text-align: center;
  text-transform: uppercase;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: -27px;
    width: 15px;
    height: 1px;
    background-color: #ffffff;
    transform: translateY(-50%);
  }

  &::after {
    left: auto;
    right: -27px;
  }

  @media (min-width: $s-width) {
    width: fit-content;
    max-width: none;
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 46px;
  }

  @media (min-width: $m-width) {
    margin-bottom: 32px;
    font-size: 48px;
    line-height: 80px;

    &::before,
    &::after {
      width: 66px;
      height: 4px;
      left: -78px;
    }

    &::after {
      left: auto;
      right: -78px;
    }
  }

  @media (min-width: $l-width) {
    margin-bottom: 40px;
  }
}

.mission__description {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $s-width) {
    margin-bottom: 8px;
  }

  @media (min-width: $m-width) {
    width: 582px;
    margin: 0 auto 32px;
    font-size: 24px;
    line-height: 32px;
  }

  @media (min-width: $l-width) {
    width: auto;
    margin-bottom: 40px;
  }
}

.mission__button {
  width: 197px;
  margin: 0 auto;

  @media (min-width: $s-width) {
    width: 171px;
  }

  @media (min-width: $m-width) {
    width: 283px;
  }
}

.button {
  display: block;
  padding: 10px 20px;
  font-size: 18px;
  line-height: 28px;
  color: #0a3b93;
  text-align: center;
  text-decoration: none;
  background-color: #ffffff;
  border: none;
  cursor: pointer;

  &:hover,
  &:focus-visible {
    opacity: 0.7;
  }

  &:active,
  &:disabled,
  &--disabled {
    opacity: 0.3;
  }

  &:disabled,
  &--disabled {
    pointer-events: none;
  }

  @media (min-width: $s-width) {
    font-size: 14px;
  }

  @media (min-width: $m-width) {
    padding: 20px 40px;
    font-size: 18px;
  }
}

.title-m {
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #0a3b93;

  &--alt {
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
  }

  @media (min-width: $m-width) {
    font-size: 40px;
    line-height: 60px;
  }
}

.features {
  padding-top: 50px;
  padding-bottom: 40px;
  background-color: #f7eee5;

  @media (min-width: $s-width) {
    padding: 60px 0;
  }

  @media (min-width: $m-width) {
    padding: 80px 0;
  }

  @media (min-width: $l-width) {
    padding-top: 100px;
    padding-bottom: 125px;
  }
}

.features__title {
  margin-bottom: 20px;

  @media (min-width: $m-width) {
    margin-bottom: 32px;
  }

  @media (min-width: $l-width) {
    margin-bottom: 60px;
  }
}

.features__slider {
  width: calc(100% + 30px);
  margin-left: -14px;

  @media (min-width: $s-width) {
    width: 610px;
    margin-left: -20px;
  }

  @media (min-width: $m-width) {
    width: auto;
    margin-left: 0;
  }
}

.features .features__list {
  @media (min-width: $m-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 35px;
    row-gap: 20px;
  }

  @media (min-width: $l-width) {
    column-gap: 31px;
    row-gap: 32px;
  }
}

.features .features__item {
  @media (min-width: $m-width) {
    &:nth-child(2) {
      display: none;
    }
  }
}

.slider {
  position: relative;
  padding: 0 16px 0 14px;

  &--alt .slider__pagination {
    position: absolute;
    margin: 0;
    top: -110px;
    left: 12px;
  }

  @media (min-width: $s-width) {
    padding: 0 45px 0 20px;

    &--alt .slider__pagination {
      position: static;
      margin-top: 16px;
    }
  }

  @media (min-width: $m-width) {
    padding: 0;
  }
}

.slider__button {
  position: absolute;
  top: 50%;
  width: 13.75px;
  height: 19px;
  margin-top: -14px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transform: translateY(-50%);

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    display: block;
    width: 12px;
    height: 8px;
    background-color: #0a3b93;
    mask-image: url("../../__spritemap#sprite-arrow-icon-view");
    mask-repeat: no-repeat;
    mask-size: 12px 8px;
    mask-position: center;
    transform: translateY(-50%);
  }

  &:hover,
  &:focus-visible {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &:disabled,
  &--disabled {
    opacity: 0.3;
    pointer-events: none;
  }

  &--prev {
    left: 0;
  }

  &--prev::before {
    transform: translateY(-50%) rotate(180deg);
  }

  &--next {
    right: 0;
  }

  @media (min-width: $m-width) {
    display: none;
  }
}

.slider__pagination {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 4px;
  margin-top: 16px;

  @media (min-width: $m-width) {
    display: none;
  }
}

.slider__pagination-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8px;
  height: 8px;
  padding: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;

  &::before {
    content: "";
    display: block;
    width: 4px;
    height: 4px;
    background-color: rgba(138, 123, 96, 0.33);
    border-radius: 50%;
  }

  &:hover,
  &:focus-visible {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &:disabled,
  &--disabled {
    opacity: 0.3;
    pointer-events: none;
  }

  &--active::before {
    background-color: #0a3b93;
  }
}

.feature-card {
  @media (min-width: $m-width) {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}

.feature-card__image {
  img {
    display: block;
    width: 100%;
    height: auto;
    aspect-ratio: 260 / 178;
    object-fit: cover;
  }

  @media (min-width: $l-width) {
    img {
      height: 178px;
    }
  }
}

.feature-card__text-content {
  padding: 20px;
  padding-bottom: 23.5px;
  color: #ffffff;
  background-color: #0a3b93;
  font-size: 14px;
  line-height: 22px;

  @media (min-width: $m-width) {
    flex-grow: 1;
    font-size: 18px;
  }
}

.feature-card__title {
  margin: 0;
  min-height: 33px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;

  @media (min-width: $m-width) {
    font-size: 18px;
    min-height: 88px;
  }

  @media (min-width: $l-width) {
    min-height: 60px;
  }
}

.feature-card__description-wrapper {
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease;
}

.feature-card__description {
  margin: 0;
  padding-top: 20px;
}

.feature-card__button {
  margin: 12px -2.5px 0 auto;
}

.button-plus {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 20px;
  height: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;

  svg,
  img {
    display: block;
    width: 15px;
    height: 15px;
    transition: transform 0.3s ease;
  }

  &:hover,
  &:focus-visible {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &:disabled,
  &--disabled {
    opacity: 0.3;
    pointer-events: none;
  }

  &--active svg {
    transform: rotate(45deg);
  }

  &--active img {
    transform: rotate(45deg);
  }
}

.stats {
  padding: 20px 0 83px;
  background-color: #f7eee5;
  background-image: url("../../__spritemap#sprite-pattern-3-view");
  background-repeat: no-repeat;
  background-size: 237.21px 297.46px;
  background-position: bottom -185.54px right -114.89px;

  @media (min-width: $s-width) {
    padding: 0;
    padding-bottom: 70px;
    background-size: 235px 296px;
    background-position: bottom -215px right -93px;
  }

  @media (min-width: $m-width) {
    padding-bottom: 140px;
    background-image:
      url("../../__spritemap#sprite-pattern-3-view"),
      url("../../__spritemap#sprite-pattern-4-view");
    background-size:
      332.09px 418.05px,
      493.32px 379.02px;
    background-position:
      top -2px right -160.24px,
      top 608px left -221px;
  }

  @media (min-width: $l-width) {
    padding-bottom: 120px;
    background-size:
      332.09px 418.05px,
      493.26px 367.7px;
    background-position:
      top -1.29px right -70.24px,
      top 497px left -201px;
  }
}

.stats__title {
  margin: 0;
  margin-bottom: 16px;
  text-transform: uppercase;
  color: #0a3b93;

  @media (min-width: $s-width) {
    margin-bottom: 12px;
  }

  @media (min-width: $m-width) {
    margin-bottom: 20px;
  }
}

.stats__description {
  margin: 0;
  margin-bottom: 8px;
  font-size: 16px;

  @media (min-width: $s-width) {
    margin-bottom: 48px;
  }

  @media (min-width: $m-width) {
    margin-bottom: 32px;
    font-size: 18px;
    line-height: 30px;
  }

  @media (min-width: $l-width) {
    margin-bottom: 60px;
  }
}

.stats__slider {
  width: calc(100% + 30px);
  margin-left: -14px;

  @media (min-width: $s-width) {
    width: 610px;
    margin-left: -20px;
  }

  @media (min-width: $m-width) {
    width: auto;
    margin-left: 0;
  }
}

.stats .stats__list {
  @media (min-width: $m-width) {
    display: grid;
    grid-template-columns: 454px 396px;
  }

  @media (min-width: $l-width) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.stats .stats__item {
  width: auto;

  @media (min-width: $m-width) {
    &:nth-of-type(2n + 1) {
      text-align: right;
    }

    &--narrow {
      &:nth-of-type(2n + 1) {
        justify-self: end;
        width: 294px;
      }

      &:nth-of-type(2n + 2) {
        justify-self: start;
        width: 294px;
      }
    }
  }
}

.stats-card {
  position: relative;

  &--accent .stats-card__text-content {
    background-color: #0a3b93;
  }

  &--no-img .stats-card__text-content {
    position: static;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    justify-content: center;
    padding: 25px;
    width: 100%;
    min-height: 294px;
    text-align: center;

    @media (min-width: $m-width) {
      padding: 25px 34px;
    }
  }
}

.stats-card__image {
  img {
    display: block;
    width: 100%;
    height: 294px;
    object-fit: cover;
  }
}

.stats-card__text-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 16px 10px;
  color: #ffffff;
  background-color: #8a7b60;

  p {
    margin: 0;
    font-size: 18px;
    line-height: 22px;
  }

  @media (min-width: $m-width) {
    padding: 16px 32px 16px 50px;
  }

  @media (min-width: $l-width) {
    padding-left: 40px;
    padding-right: 40px;
  }
}
